name: Deploy

on:
  push:
    branches: [main]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/upload-artifact@v4
        with:
          name: site
          path: site/

  deploy:
    name: Deploy
    needs: build
    uses: paritytech/dotns-sdk/.github/workflows/deploy.yml@main
    with:
      basename: example
      artifact-name: site
      mode: production
    secrets:
      mnemonic: ${{ secrets.DOTNS_MNEMONIC }}